# Dependencies
node_modules/

# Build output
build/
dist/

# Test coverage
coverage/

# Environment variables
.env
.env.*
!.env.example

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# local DB files
*.db
*.db-journal
prisma/*.db

# Generated Prisma client
backend/src/generated/prisma
frontend/src/generated/

# IDE
.vscode/settings.json
